:root {
    --outfit: "Outfit", sans-serif;
    --young-serif:"Young Serif", system-ui;
    --rose-800:#7A284E;
    --rose-50:#FFF7FB;
    --stone-900:#312E2C;
    --stone-600:#5F564D;
    --stone-150:#E3DDD7;
    --stone-100:#F3E5D7;
    --brown-800:#854632;
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: var(--stone-100);
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--outfit);
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0;
}

a{
    text-decoration: none;
}
h1,h2{
    font-family: var(--young-serif);
    margin: 0;
    line-height: 100%;
}
h1{
    font-size: 3.6rem;
    font-weight: normal;
}
h2{
    font-size: 2.8rem;
    color: var(--brown-800);
    font-weight: normal;
}
p{
    color: var(--stone-600);
    margin: 0;
    font-size: 1.6rem;
    line-height: 150%;
}
img{
    width: 100%;
}

/* Utilities */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
    text-align: left;
    justify-content: space-around;
}
.custom-ul{
    list-style-type: disc;
}
.custom-ul li::marker {
    color: var(--brown-800);
}
.custom-ol {
    list-style-type: decimal; 
}
.custom-ol li::marker {
    color: var(--brown-800); 
}
.recipe-container{
    background-color: white;
    border-radius: 2.4rem;
    min-width: 375px;
    max-width: 736px;

}
.recipe-content{
    padding: 4rem 3.2rem;
}
.preparation-time-container{
    background-color: var(--rose-50);
    padding: 2.4rem;
    margin-top: 32px;
}
.preparation-time-title{
    font-weight: bolder;
    color: #7A284E;
}